@model AppEmployeesProyect.Models.EmployeeIdResponse

@{
	ViewData["Title"] = "Datos Empleado Por Id";
}

<div>
	<form method="get" action="@Url.Action("Index2", "Home")">
		<div class="form-group">
			<label for="searchInput">Search:</label>
			<input type="text" class="form-control" id="searchInput" name="searchString" placeholder="Enter id to search">
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
</div>

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayName("Id")</th>
			<th>@Html.DisplayName("Name")</th>
			<th>@Html.DisplayName("Salary")</th>
			<th>@Html.DisplayName("Age")</th>
			<th>@Html.DisplayName("Profile Image")</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@Model.employee.id</td>
			<td>@Model.employee.employeeName</td>
			<td>@Model.employee.employeeSalary</td>
			<td>@Model.employee.employeeAge</td>
			<td>@Model.employee.profileImage</td>
		</tr>
		
	</tbody>
</table> 